<div class="login-container">
  <h2>Edit <%= resource_name.to_s.humanize %>'s profile</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name,
                  hint: "leave it blank if you don't want to change it",
                  required: false %>
      <%= f.input :address,
                  required: true %>
      <%= f.input :phone_number,
                  required: false %>
      <%= f.input :bio %>
      <%= f.input :photo, as: :file %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", class: "primary-button" %>
    </div>
  <% end %>
  <div class="section-bottom">
    <h3>Cancel my account</h3>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>

  <%= link_to "Back", :back %>

</div>
