<div class="container">
  <div class="user-info-header">
    <%# <%= @user.id %>
    <%# <%= @user.created_at %>
  </div>
  <div class="user-details">
    <div class="user-info">
          <h1><%= @user.name %></h1>
          <div class="user-info-element">
          <strong>Phone:</strong> <%= @user.phone_number %>
          </div>
          <div class="user-info-element">
          <strong>Bio:</strong>
          <%= @user.bio %>
          </div>
    </div>
    <div class="user-image">
        <%= cl_image_tag @user.photo.key %>
    </div>
  </div>
</div>
<div class="container">
  <h2>My experiences</h2>
  <div class="card-holder">
      <% if @user.experiences.empty? %>
      <p>No experiences to show yet.</p>
      <% else %>
    <% @user.experiences.each do |experience| %>
      <div class="card-full">
          <%= link_to experience_path(experience) do %>
          <div class="card">
            <div class="card-image" style="background-image: url(<%= cl_image_path experience.photo.key%>)"></div>
            <div class="card-info">
              <h2><%= experience.name %></h2>
              <%= cl_image_tag experience.user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            </div>
          </div>
          <% end %>
          <div class="edit-delete">
            <%= link_to "Edit", edit_experience_path(experience) %>
          </div>
      </div>
    <% end %>
    <% end  %>
  </div>
</div>
