<div class="container">
  <div class="user-info-header">
    <%= @user.id %>
    <%= @user.created_at %>
  </div>
  <div class="user-details">
    <div class="user-info">
          <h1><%= @user.name %></h1>
          <%= @user.phone_number %>
          <%= @user.bio %>
    </div>
    <div class="user-image">
      <% if @user.photo.attachment.nil? %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
      <% else %>
      <%= cl_image_tag @user.photo.key, width: 400, height: 300, crop: :fill %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <h2>My experiences</h2>
  <div class="card-holder">
    <% @user.experiences.each do |experience| %>
    <div class="card">
      <div class="card-image" style="background-image: url(<%= cl_image_path experience.photo.key%>)">
      </div>
    <%= link_to experience_path(experience) do %>
      <div class="card-info">
        <h2><%= experience.name %></h2>
        <%= cl_image_tag experience.user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
