<div class="container">
  <div class="user-info-header">
    <%= @user.id %>
    <%= @user.created_at %>
  </div>
  <div class="user-details">
  <div class="user-info">
        <%= @user.name %>
        <%= @user.phone_number %>
        <%= @user.bio %>
  </div>
  <div class="user-image">
  <% if @user.photo %>
  <%= cl_image_tag @user.photo.key, width: 400, height: 300, crop: :fill %>
  <% else %>
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
  <% end %>
  </div>
  </div>
</div>

<% @user.experiences.each do |experience| %>
<%= experience.name %>
<% end %>
