<%= link_to experiences_path do %>
  <div class="banner">
    <div class="banner-content">
      <div class="banner-text">
        <h1>This is my kitchen</h1>
        <p>Taste regional cuisine, meet new people and have a unique local food experience ...</p>
      </div>
      <div class="banner-buttons">

        <button class="btn ca">Start your experience <i class="fas fa-chevron-right"></i></button>

        <p>It's free</p>
      </div>
    </div>
    <div class="homepage-video">
      <video id="videoBG" poster="assets/banner.jpg" autoplay muted loop>
          <source src="assets/homepage.mp4" type="video/mp4">
      </video>
    </div>
  </div>
<% end %>

<h3>Our Local Experiences</h3>

<div class="card-holder">
  <% @experiences.each do |experience| %>
  <%= link_to experience_path(experience) do %>
  <div class="card">
    <div class="card-image" style="background-image: url(<%= cl_image_path experience.photo.key%>)">
    </div>
    <div class="card-info">
      <h2><%= experience.name %></h2>
      <%= cl_image_tag experience.user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    </div>
  </div>
    <% end %>
  <% end %>
</div>
