<h1>This is the experience creation form</h1>

<%= simple_form_for @experience do |f| %>
  <%= f.input :name %><br />
  <%= f.input :description %><br />
  <%= f.input :price_per_hour %><br />
  <%= f.input :min_time %><br />
  <%= f.input :max_time %><br />
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>
