<div class="container">
  <div class="exp-page">
    <div class="exp-image">
      <%= cl_image_tag @experience.photo.key, crop: :fill, width:800 %>
    </div>
    <div class="exp-content">
      <h1><%= @experience.name %></h1>
      <div class="content">
        <div class="first-col">
          <p class="small-text">Location:</p>
          <p class="exp-info"><%= @experience.address %></p>
          <p class="small-text">What this experience is about:</p>
          <p class="exp-info"><%= @experience.description %></p>
        </div>
        <div class="exp-col">
          <p class="small-text">This experience was made by:</p>
          <p class="exp-info"><%= cl_image_tag @experience.user.photo.key, class: "avatar-large" %> <%= @experience.user["name"] %></p>
          <div class="exp-details">
            <p><%= @experience.price_per_hour %>€ /hour</p>
            <p>Minimum time: <%= @experience.min_time %> day</p>
            <p>Maximum time: <%= @experience.max_time %> days</p>
          </div>
          <%= link_to @experience_path, "Book now", class: "book-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
